# Import Libraries

In [1]:
import numpy as np
import pandas as pd

# Data Wrangling

In [2]:
data = pd.read_csv('datasets/raw/6.524379_3.379206_Solcast_PT60M.csv')
data.head()

,PeriodEnd,PeriodStart,Period,AirTemp,CloudOpacity,DewpointTemp,Dhi,Dni,Ebh,Ghi,PrecipitableWater,RelativeHumidity,SurfacePressure,WindDirection10m,WindSpeed10m,Zenith
0,2016-12-31T02:00:00Z,2016-12-31T01:00:00Z,PT60M,24.2,0.0,21.5,0,0,0,0,29.1,84.5,1006.8,232,1.8,150
1,2016-12-31T03:00:00Z,2016-12-31T02:00:00Z,PT60M,23.4,0.0,21.3,0,0,0,0,29.1,87.9,1006.3,253,1.5,138
2,2016-12-31T04:00:00Z,2016-12-31T03:00:00Z,PT60M,22.8,0.0,21.1,0,0,0,0,29.2,90.2,1006.2,272,1.4,124
3,2016-12-31T05:00:00Z,2016-12-31T04:00:00Z,PT60M,22.4,0.0,20.9,0,0,0,0,29.3,91.2,1006.5,287,1.2,111
4,2016-12-31T06:00:00Z,2016-12-31T05:00:00Z,PT60M,22.1,0.0,20.8,0,0,0,0,29.4,92.1,1006.8,306,1.1,97

In [3]:
data.shape

(26325, 16)

In [4]:
data.describe()

,AirTemp,CloudOpacity,DewpointTemp,Dhi,Dni,Ebh,Ghi,PrecipitableWater,RelativeHumidity,SurfacePressure,WindDirection10m,WindSpeed10m,Zenith
count,26325.000000,26325.000000,26325.000000,26325.000000,26325.000000,26325.000000,26325.000000,26325.000000,26325.000000,26325.000000,26325.000000,26325.000000,26325.000000
mean,26.735236,23.816775,23.230370,128.637569,83.611662,60.851662,189.491358,49.570868,81.915198,1007.859495,226.407483,2.641542,89.933105
std,1.986150,26.731491,1.465923,172.337933,166.982046,134.150126,264.854175,8.089445,10.176722,2.408360,40.936265,1.239591,47.081511
min,21.000000,0.000000,5.700000,0.000000,0.000000,0.000000,0.000000,15.800000,20.400000,1001.300000,0.000000,0.000000,5.000000
25%,25.300000,0.000000,22.600000,0.000000,0.000000,0.000000,0.000000,45.800000,76.300000,1006.100000,210.000000,1.800000,48.000000
50%,26.500000,13.400000,23.400000,7.000000,0.000000,0.000000,7.000000,51.700000,84.100000,1007.600000,228.000000,2.400000,91.000000
75%,28.000000,45.000000,24.100000,248.000000,70.000000,32.000000,355.000000,55.300000,89.600000,1009.500000,245.000000,3.200000,132.000000
max,33.100000,99.500000,26.900000,643.000000,855.000000,829.000000,986.000000,66.900000,98.400000,1016.900000,360.000000,9.900000,176.000000

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26325 entries, 0 to 26324
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   PeriodEnd          26325 non-null  object
 1   PeriodStart        26325 non-null  object
 2   Period             26325 non-null  object
 3   AirTemp            26325 non-null  float64
 4   CloudOpacity       26325 non-null  float64
 5   DewpointTemp       26325 non-null  float64
 6   Dhi                26325 non-null  int64
 7   Dni                26325 non-null  int64
 8   Ebh                26325 non-null  int64
 9   Ghi                26325 non-null  int64
 10  PrecipitableWater  26325 non-null  float64
 11  RelativeHumidity   26325 non-null  float64
 12  SurfacePressure    26325 non-null  float64
 13  WindDirection10m   26325 non-null  int64
 14  WindSpeed10m       26325 non-null  float64
 15  Zenith             26325 non-null  int64
dtypes: float64(7), int64(6), object(3)
memory usage: 3.2+ MB

In [6]:
data.columns

Index(['PeriodEnd', 'PeriodStart', 'Period', 'AirTemp', 'CloudOpacity',
       'DewpointTemp', 'Dhi', 'Dni', 'Ebh', 'Ghi', 'PrecipitableWater',
       'RelativeHumidity', 'SurfacePressure', 'WindDirection10m',
       'WindSpeed10m', 'Zenith'],
      dtype='object')

In [7]:
data.shape

(26325, 16)

# Feature Engineering

### Renaming column headers

In [8]:
data.columns

Index(['PeriodEnd', 'PeriodStart', 'Period', 'AirTemp', 'CloudOpacity',
       'DewpointTemp', 'Dhi', 'Dni', 'Ebh', 'Ghi', 'PrecipitableWater',
       'RelativeHumidity', 'SurfacePressure', 'WindDirection10m',
       'WindSpeed10m', 'Zenith'],
      dtype='object')

In [9]:
old_names = ['PeriodEnd', 'PeriodStart', 'Period', 'AirTemp', 'CloudOpacity',
       'DewpointTemp', 'Dhi', 'Dni', 'Ebh', 'Ghi', 'PrecipitableWater',
       'RelativeHumidity', 'SurfacePressure', 'WindDirection10m',
       'WindSpeed10m', 'Zenith']

new_names = ['PeriodEnd', 'PeriodStart', 'Period', 'Temperature', 'CloudOpacity',
       'DewpointTemp', 'DHI', 'DNI', 'EBH', 'Radiation', 'Precipitation',
       'Humidity', 'Pressure', 'WindDirection',
       'WindSpeed', 'Zenith']

data.rename(columns = dict(zip(old_names, new_names)), inplace = True)

In [10]:
data.head(2)

,PeriodEnd,PeriodStart,Period,Temperature,CloudOpacity,DewpointTemp,DHI,DNI,EBH,Radiation,Precipitation,Humidity,Pressure,WindDirection,WindSpeed,Zenith
0,2016-12-31T02:00:00Z,2016-12-31T01:00:00Z,PT60M,24.2,0.0,21.5,0,0,0,0,29.1,84.5,1006.8,232,1.8,150
1,2016-12-31T03:00:00Z,2016-12-31T02:00:00Z,PT60M,23.4,0.0,21.3,0,0,0,0,29.1,87.9,1006.3,253,1.5,138

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26325 entries, 0 to 26324
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   PeriodEnd      26325 non-null  object
 1   PeriodStart    26325 non-null  object
 2   Period         26325 non-null  object
 3   Temperature    26325 non-null  float64
 4   CloudOpacity   26325 non-null  float64
 5   DewpointTemp   26325 non-null  float64
 6   DHI            26325 non-null  int64
 7   DNI            26325 non-null  int64
 8   EBH            26325 non-null  int64
 9   Radiation      26325 non-null  int64
 10  Precipitation  26325 non-null  float64
 11  Humidity       26325 non-null  float64
 12  Pressure       26325 non-null  float64
 13  WindDirection  26325 non-null  int64
 14  WindSpeed      26325 non-null  float64
 15  Zenith         26325 non-null  int64
dtypes: float64(7), int64(6), object(3)
memory usage: 3.2+ MB

### convert the periods datatype to datatime

In [12]:
data['PeriodStart'] = pd.to_datetime(data['PeriodStart']).dt.to_period('T').dt.to_timestamp()
data['PeriodEnd'] = pd.to_datetime(data['PeriodEnd']).dt.to_period('T').dt.to_timestamp()

C:\Users\chizo\anaconda3\lib\site-packages\pandas\core\arrays\datetimes.py:1101: UserWarning: Converting to PeriodArray/Index representation will drop timezone information.
  warnings.warn(

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26325 entries, 0 to 26324
Data columns (total 16 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   PeriodEnd      26325 non-null  datetime64[ns]
 1   PeriodStart    26325 non-null  datetime64[ns]
 2   Period         26325 non-null  object
 3   Temperature    26325 non-null  float64
 4   CloudOpacity   26325 non-null  float64
 5   DewpointTemp   26325 non-null  float64
 6   DHI            26325 non-null  int64
 7   DNI            26325 non-null  int64
 8   EBH            26325 non-null  int64
 9   Radiation      26325 non-null  int64
 10  Precipitation  26325 non-null  float64
 11  Humidity       26325 non-null  float64
 12  Pressure       26325 non-null  float64
 13  WindDirection  26325 non-null  int64
 14  WindSpeed      26325 non-null  float64
 15  Zenith         26325 non-null  int64
dtypes: datetime64[ns](2), float64(7), int64(6), object(1)
memory usage: 3.2+ MB

In [14]:
data.head(1)

,PeriodEnd,PeriodStart,Period,Temperature,CloudOpacity,DewpointTemp,DHI,DNI,EBH,Radiation,Precipitation,Humidity,Pressure,WindDirection,WindSpeed,Zenith
0,2016-12-31 02:00:00,2016-12-31 01:00:00,PT60M,24.2,0.0,21.5,0,0,0,0,29.1,84.5,1006.8,232,1.8,150

### Seperate the year, month and day values from the period column

In [15]:
data['YearPS'] = pd.to_datetime(data['PeriodStart']).dt.year
data['YearPE'] = pd.to_datetime(data['PeriodEnd']).dt.year

data['MonthPS'] = pd.to_datetime(data['PeriodStart']).dt.month
data['MonthPE'] = pd.to_datetime(data['PeriodEnd']).dt.month

data['DayPS'] = pd.to_datetime(data['PeriodStart']).dt.day
data['DayPE'] = pd.to_datetime(data['PeriodEnd']).dt.day

data['HourPS'] = pd.to_datetime(data['PeriodStart']).dt.hour
data['HourPE'] = pd.to_datetime(data['PeriodEnd']).dt.hour

In [16]:
data.shape

(26325, 24)

In [17]:
data.head(2)

,PeriodEnd,PeriodStart,Period,Temperature,CloudOpacity,DewpointTemp,DHI,DNI,EBH,Radiation,...,WindSpeed,Zenith,YearPS,YearPE,MonthPS,MonthPE,DayPS,DayPE,HourPS,HourPE
0,2016-12-31 02:00:00,2016-12-31 01:00:00,PT60M,24.2,0.0,21.5,0,0,0,0,...,1.8,150,2016,2016,12,12,31,31,1,2
1,2016-12-31 03:00:00,2016-12-31 02:00:00,PT60M,23.4,0.0,21.3,0,0,0,0,...,1.5,138,2016,2016,12,12,31,31,2,3

In [18]:
data.columns

Index(['PeriodEnd', 'PeriodStart', 'Period', 'Temperature', 'CloudOpacity',
       'DewpointTemp', 'DHI', 'DNI', 'EBH', 'Radiation', 'Precipitation',
       'Humidity', 'Pressure', 'WindDirection', 'WindSpeed', 'Zenith',
       'YearPS', 'YearPE', 'MonthPS', 'MonthPE', 'DayPS', 'DayPE', 'HourPS',
       'HourPE'],
      dtype='object')

In [19]:
def sunrise(row):
    
    """ function to identify time of sunrise """
    
    value = 0
    if row['HourPS'] == 4 and row['HourPE'] == 5 and row['Radiation'] > 0:
        value = '05:00:00'
    elif row['HourPS'] == 5 and row['HourPE'] == 6 and row['Radiation'] > 0:
        value = '06:00:00'
    return value


def sunset(row):
    
    """ function to identify time of sunset """
    
    value = 0
    if row['HourPS'] == 17 and row['HourPE'] == 18 and row['Radiation'] > 0:
        value = '18:00:00'
    elif row['HourPS'] == 18 and row['HourPE'] == 19 and row['Radiation'] > 0:
        value = '19:00:00'
    return value

### create a new columns to reflect the sunrise and sunset

In [20]:
data['Sunrise'] = data.apply(sunrise, axis = 1)
data['Sunset'] = data.apply(sunset, axis = 1)
data.head()

,PeriodEnd,PeriodStart,Period,Temperature,CloudOpacity,DewpointTemp,DHI,DNI,EBH,Radiation,...,YearPS,YearPE,MonthPS,MonthPE,DayPS,DayPE,HourPS,HourPE,Sunrise,Sunset
0,2016-12-31 02:00:00,2016-12-31 01:00:00,PT60M,24.2,0.0,21.5,0,0,0,0,...,2016,2016,12,12,31,31,1,2,0,0
1,2016-12-31 03:00:00,2016-12-31 02:00:00,PT60M,23.4,0.0,21.3,0,0,0,0,...,2016,2016,12,12,31,31,2,3,0,0
2,2016-12-31 04:00:00,2016-12-31 03:00:00,PT60M,22.8,0.0,21.1,0,0,0,0,...,2016,2016,12,12,31,31,3,4,0,0
3,2016-12-31 05:00:00,2016-12-31 04:00:00,PT60M,22.4,0.0,20.9,0,0,0,0,...,2016,2016,12,12,31,31,4,5,0,0
4,2016-12-31 06:00:00,2016-12-31 05:00:00,PT60M,22.1,0.0,20.8,0,0,0,0,...,2016,2016,12,12,31,31,5,6,0,0

In [21]:
data.shape

(26325, 26)

In [22]:
print('Time of sunrise: ', data['Sunrise'].unique())
print('Time of sunset : ', data['Sunset'].unique())

Time of sunrise:  [0 '06:00:00']
Time of sunset :  [0 '18:00:00']

In [23]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26325 entries, 0 to 26324
Data columns (total 26 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   PeriodEnd      26325 non-null  datetime64[ns]
 1   PeriodStart    26325 non-null  datetime64[ns]
 2   Period         26325 non-null  object
 3   Temperature    26325 non-null  float64
 4   CloudOpacity   26325 non-null  float64
 5   DewpointTemp   26325 non-null  float64
 6   DHI            26325 non-null  int64
 7   DNI            26325 non-null  int64
 8   EBH            26325 non-null  int64
 9   Radiation      26325 non-null  int64
 10  Precipitation  26325 non-null  float64
 11  Humidity       26325 non-null  float64
 12  Pressure       26325 non-null  float64
 13  WindDirection  26325 non-null  int64
 14  WindSpeed      26325 non-null  float64
 15  Zenith         26325 non-null  int64
 16  YearPS         26325 non-null  int64
 17  YearPE         26325 non-null  int64
 18  MonthPS        26325 non-null  int64
 19  MonthPE        26325 non-null  int64
 20  DayPS          26325 non-null  int64
 21  DayPE          26325 non-null  int64
 22  HourPS         26325 non-null  int64
 23  HourPE         26325 non-null  int64
 24  Sunrise        26325 non-null  object
 25  Sunset         26325 non-null  object
dtypes: datetime64[ns](2), float64(7), int64(14), object(3)
memory usage: 5.2+ MB

### filter DNI, DHI and Radiation where values == 0, because that mean the records were taken at night when there's no solar radiation

In [24]:
data_new = data.loc[~ ((data['DNI'] == 0) & (data['DHI'] == 0) & (data['Radiation'] == 0)), :]

print('Total data shape (Day and Night): ', data.shape)
print('Only Day data shape : ', data_new.shape)

Total data shape (Day and Night):  (26325, 26)
Only Day data shape :  (14002, 26)

### create a date column and convert the datatype to datetime

In [25]:
data_new['Date'] = pd.to_datetime(data_new['PeriodEnd']).dt.normalize()

<ipython-input-25-33d00d3460c4>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data_new['Date'] = pd.to_datetime(data_new['PeriodEnd']).dt.normalize()

In [26]:
data_new.head(1)

,PeriodEnd,PeriodStart,Period,Temperature,CloudOpacity,DewpointTemp,DHI,DNI,EBH,Radiation,...,YearPE,MonthPS,MonthPE,DayPS,DayPE,HourPS,HourPE,Sunrise,Sunset,Date
5,2016-12-31 07:00:00,2016-12-31 06:00:00,PT60M,22.6,8.8,20.8,34,0,0,34,...,2016,12,12,31,31,6,7,0,0,2016-12-31

In [27]:
dt_series = pd.to_datetime(data_new['Date'])

# pass the datatime series to datetime index
dt_index = pd.DatetimeIndex(dt_series.values)

data_new1 = data_new.set_index(dt_index)

In [28]:
data_new1.head(2)

,PeriodEnd,PeriodStart,Period,Temperature,CloudOpacity,DewpointTemp,DHI,DNI,EBH,Radiation,...,YearPE,MonthPS,MonthPE,DayPS,DayPE,HourPS,HourPE,Sunrise,Sunset,Date
2016-12-31,2016-12-31 07:00:00,2016-12-31 06:00:00,PT60M,22.6,8.8,20.8,34,0,0,34,...,2016,12,12,31,31,6,7,0,0,2016-12-31
2016-12-31,2016-12-31 08:00:00,2016-12-31 07:00:00,PT60M,24.0,16.6,21.0,139,0,0,139,...,2016,12,12,31,31,7,8,0,0,2016-12-31

### sample daily average for the solar and weather features

In [29]:
data_new1['Daily_radiation']= data_new1.reset_index().groupby(pd.Grouper(key='Date', freq='1D'))['Radiation'].mean()
data_new1['Daily_DNI']= data_new1.reset_index().groupby(pd.Grouper(key='Date', freq='1D'))['DNI'].mean()
data_new1['Daily_DHI']= data_new1.reset_index().groupby(pd.Grouper(key='Date', freq='1D'))['DHI'].mean()
data_new1['Daily_Temp']= data_new1.reset_index().groupby(pd.Grouper(key='Date', freq='1D'))['Temperature'].mean()
data_new1['Daily_Precipitation']= data_new1.reset_index().groupby(pd.Grouper(key='Date', freq='1D'))['Precipitation'].mean()
data_new1['Daily_Humidity']= data_new1.reset_index().groupby(pd.Grouper(key='Date', freq='1D'))['Humidity'].mean()
data_new1['Daily_Pressure']= data_new1.reset_index().groupby(pd.Grouper(key='Date', freq='1D'))['Pressure'].mean()
data_new1['Daily_WindDir']= data_new1.reset_index().groupby(pd.Grouper(key='Date', freq='1D'))['WindDirection'].mean()
data_new1['Daily_WindSpeed']= data_new1.reset_index().groupby(pd.Grouper(key='Date', freq='1D'))['WindSpeed'].mean()

In [30]:
data_new1.head(1)

,PeriodEnd,PeriodStart,Period,Temperature,CloudOpacity,DewpointTemp,DHI,DNI,EBH,Radiation,...,Date,Daily_radiation,Daily_DNI,Daily_DHI,Daily_Temp,Daily_Precipitation,Daily_Humidity,Daily_Pressure,Daily_WindDir,Daily_WindSpeed
2016-12-31,2016-12-31 07:00:00,2016-12-31 06:00:00,PT60M,22.6,8.8,20.8,34,0,0,34,...,2016-12-31,360.166667,95.25,286.666667,28.166667,28.366667,62.025,1006.733333,189.416667,0.891667

### Drop unwanted features

In [31]:
new_data = data_new1.drop(['Period', 'PeriodStart', 'YearPS', 'HourPS', 'HourPE', 'Sunrise', 'Sunset', 'MonthPS', 'YearPE', 'DayPS'], axis= 1)

In [32]:
new_data.columns

Index(['PeriodEnd', 'Temperature', 'CloudOpacity', 'DewpointTemp', 'DHI',
       'DNI', 'EBH', 'Radiation', 'Precipitation', 'Humidity', 'Pressure',
       'WindDirection', 'WindSpeed', 'Zenith', 'MonthPE', 'DayPE', 'Date',
       'Daily_radiation', 'Daily_DNI', 'Daily_DHI', 'Daily_Temp',
       'Daily_Precipitation', 'Daily_Humidity', 'Daily_Pressure',
       'Daily_WindDir', 'Daily_WindSpeed'],
      dtype='object')

In [33]:
new_data.shape

(14002, 26)

### Drop Duplicates

In [34]:
new_data = new_data[~ new_data.Date.duplicated(keep='last')]
new_data.head(2)

,PeriodEnd,Temperature,CloudOpacity,DewpointTemp,DHI,DNI,EBH,Radiation,Precipitation,Humidity,...,Date,Daily_radiation,Daily_DNI,Daily_DHI,Daily_Temp,Daily_Precipitation,Daily_Humidity,Daily_Pressure,Daily_WindDir,Daily_WindSpeed
2016-12-31,2016-12-31 18:00:00,28.0,0.0,20.2,14,0,0,14,27.7,62.3,...,2016-12-31,360.166667,95.25,286.666667,28.166667,28.366667,62.025000,1006.733333,189.416667,0.891667
2017-01-01,2017-01-01 18:00:00,28.2,0.0,20.3,14,0,0,14,29.7,62.3,...,2017-01-01,363.083333,108.75,279.000000,28.125000,30.116667,64.741667,1006.258333,256.416667,0.925000

In [35]:
new_data.shape

(1097, 26)

In [36]:
new_data.columns

Index(['PeriodEnd', 'Temperature', 'CloudOpacity', 'DewpointTemp', 'DHI',
       'DNI', 'EBH', 'Radiation', 'Precipitation', 'Humidity', 'Pressure',
       'WindDirection', 'WindSpeed', 'Zenith', 'MonthPE', 'DayPE', 'Date',
       'Daily_radiation', 'Daily_DNI', 'Daily_DHI', 'Daily_Temp',
       'Daily_Precipitation', 'Daily_Humidity', 'Daily_Pressure',
       'Daily_WindDir', 'Daily_WindSpeed'],
      dtype='object')

### Choose needed Features

In [37]:
final_data = new_data[['MonthPE', 'DayPE', 'Date','Daily_Temp','Daily_Precipitation', 'Daily_Humidity', 'Daily_Pressure',
                  'Daily_WindDir','Daily_WindSpeed','Daily_DNI', 'Daily_DHI', 'Daily_radiation']]

In [38]:
final_data.head(5)

,MonthPE,DayPE,Date,Daily_Temp,Daily_Precipitation,Daily_Humidity,Daily_Pressure,Daily_WindDir,Daily_WindSpeed,Daily_DNI,Daily_DHI,Daily_radiation
2016-12-31,12,31,2016-12-31,28.166667,28.366667,62.025000,1006.733333,189.416667,0.891667,95.250000,286.666667,360.166667
2017-01-01,1,1,2017-01-01,28.125000,30.116667,64.741667,1006.258333,256.416667,0.925000,108.750000,279.000000,363.083333
2017-01-02,1,2,2017-01-02,28.216667,27.316667,63.750000,1006.791667,301.666667,0.875000,124.166667,280.750000,376.583333
2017-01-03,1,3,2017-01-03,28.275000,25.658333,60.783333,1006.766667,173.750000,0.825000,204.250000,262.750000,413.833333
2017-01-04,1,4,2017-01-04,28.250000,26.850000,56.991667,1006.416667,255.166667,1.208333,202.833333,261.666667,412.750000

In [39]:
final_data.shape

(1097, 12)

In [40]:
final_data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1097 entries, 2016-12-31 to 2020-01-01
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   MonthPE              1097 non-null   int64
 1   DayPE                1097 non-null   int64
 2   Date                 1097 non-null   datetime64[ns]
 3   Daily_Temp           1097 non-null   float64
 4   Daily_Precipitation  1097 non-null   float64
 5   Daily_Humidity       1097 non-null   float64
 6   Daily_Pressure       1097 non-null   float64
 7   Daily_WindDir        1097 non-null   float64
 8   Daily_WindSpeed      1097 non-null   float64
 9   Daily_DNI            1097 non-null   float64
 10  Daily_DHI            1097 non-null   float64
 11  Daily_radiation      1097 non-null   float64
dtypes: datetime64[ns](1), float64(9), int64(2)
memory usage: 111.4 KB

### Save cleaned dataset

In [41]:
final_data.to_csv('~/OneDrive/Documents/DS/Omdena-MlOps/Assignment 4/Solar Radiation Project/datasets/clean/cleaned_solar_radiation.csv')